<span><font size="2"><a href="<%= rakuten_genre_search(@rakuten_item.genre_id, @rakuten_item.shop_name) %>">「<%= @rakuten_item.shop_name %>」の他の商品を検索</a></font></span>
</br>
<span><font size="2"><a href="<%= rakuten_genre_search(@rakuten_item.genre_id, nil) %>">同じジャンルで楽天検索</a></font></span>
