<div class="rakuten_item_retweet_form">
  <span style="font-size: 0.8em;">Tweet用フォーム(商品名が長い場合は適当に削ってください)</span><br />
  <textarea cols=60 rows=4 onclick="this.select();">: <%= @rakuten_item.item_name %> <%= request.url %></textarea>
</div>
